* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sen", sans-serif;
}
.logo {
  width: 100px;
}
a {
  text-decoration: none;
}
.main-content {
  display: flex;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
.nav ul {
  display: flex;
}
.nav a {
  color: black;
  padding: 10px 20px;
}
.nav {
  margin-left: auto;
}
.nav li {
  position: relative;
}

a:hover {
  text-shadow: 1px 0px 0px currentColor;
}
.nav li.active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 20px;
}
.active {
  font-weight: bold;
}
